[access]
	inheritFrom = Public-Plugins
[access "refs/*"]
	owner = group plugins-wip
[project]
	description = Plugin that allows to mark changes as Work In Progress.\n\n*Warning*: As of gerrit 2.15, the support for Work In Progress workflow was added in gerrit core. This plugins is deprecated and is going to be discontinued.
